<%- include("partials/header") -%>

<section id="two" class="schedule">
    <div class="matchSch-text-wrapper">
        <h1>SCHEDULE</h1>
    </div>

    <div class="container cards-container">
        <% if(tournaments.length == 0){%>
        No matches scheduled for now. Stay tuned and follow us on Instagram at @my_game_buddy for instant updates.
        <% } tournaments.forEach((tournament, index) => { 
            let unique = tournament.map.filter((item, i, ar) => ar.indexOf(item) === i); %>
        <% if(index % 3 === 0) { %>
        <div class="card-deck">
            <%} %>

            <div class="card text-center" id="custom-card">
                <div class="image-div"></div>
                <div class="card-body">
                    <h4 class="card-title"><%= tournament.name%></h4>
                    <h6> <%= tournament.datetime.toString().split('GMT')[0] %></h6>
                    <% if(tournament.note) { %>
                    <h6> <%= tournament.note %></h6>
                    <%}%>
                    <table class="table details-table">
                        <tbody>
                            <tr>
                                <td class="details-key">Type</td>
                                <td>-</td>
                                <td class="details-value"><%= tournament.typeOfSquad%> | <%= tournament.matchType%></td>
                    </tr>
                    <tr>
                        <td class="details-key">Map</td>
                        <td>-</td>
                        <td class="details-value"><%= unique%></td>
                    </tr>
                    <tr>
                        <td class="details-key">Entry fee</td>
                        <td>-</td>
                        <td class="details-value">₹ <%= tournament.entryFee%> <% if (tournament.typeOfSquad != 'Solo') { %> per team
                            <% } %></td>
                    </tr>
                    <% if(tournament.killReward) { %>
                    <tr>
                        <td class="details-key">Reward per kill</td>
                        <td>-</td>
                        <td class="details-value">₹ <%= tournament.killReward%></td>
                    </tr>
                    <% } %>
                    <tr>
                        <td class="details-key">Prize pool</td>
                        <td>-</td>
                        <td class="details-value">₹ <%= tournament.prizePool%></td>
                    </tr>
                    </tbody>
                    </table>
                    <a href="/tournament/<%=tournament._id%>"><button class="btn btn-primary" style="width: 40%;">
                            View Details
                        </button></a>

                    <% if(typeof user !== 'undefined' && user.role === 'admin') { %>
                    <a href="/tournament/sendMessage/<%=tournament._id%>"><button class="btn btn-danger" style="width: 40%;">
                            Send Message
                        </button></a>
                    <a href="/tournament/viewPlayers/<%=tournament._id%>"><button class="btn btn-success" style="width: 40%;">
                            View Players
                        </button></a>
                    <%}%>
                </div>
            </div>

            <% if(index % 3 === 2) { %>
                </div>
                <div style="margin-top: 1em;"></div>
                <%} %>
                <% }); %>
            </div>

        </div>
</section>

<%- include("partials/footer") -%>