<%- include("partials/header") -%>

<section id="two" class="schedule">
    <div class="matchSch-text-wrapper">
        <h1>SCHEDULE</h1>
    </div>

    <div class="container cards-container">
        <% if(rooms.length == 0){%>
            No matches scheduled for now. Stay tuned and follow us on Instagram at @my_game_buddy for instant updates.
        <% } rooms.forEach((room, index) => { %>
        <% if(index % 3 === 0) { %>
        <div class="card-deck">
            <%} %>

            <div class="card text-center" id="custom-card">
                <div class="image-div"></div>
                <div class="card-body">
                    <h4 class="card-title"><%= room.name%></h4>
                    <h6> <%= room.datetime.toString().split('GMT')[0] %></h6>
                    <% if(room.note) { %>
                    <h6> <%= room.note %></h6>
                    <%}%>
                    <table class="table details-table">
                        <tbody>
                            <tr>
                                <td class="details-key">Type</td>
                                <td>-</td>
                                <td class="details-value"><%= room.typeOfSquad%></td>
                    </tr>
                    <tr>
                        <td class="details-key">Map</td>
                        <td>-</td>
                        <td class="details-value"><%= room.map%> | <%= room.matchType%></td>
                    </tr>
                    <tr>
                        <td class="details-key">Entry fee</td>
                        <td>-</td>
                        <td class="details-value">₹ <%= room.entryFee%></td>
                    </tr>
                    <tr>
                        <td class="details-key">Per kill reward</td>
                        <td>-</td>
                        <td class="details-value">₹ <%= room.killReward%></td>
                    </tr>
                    <tr>
                        <td class="details-key">Prize money</td>
                        <td>-</td>
                        <td class="details-value">₹ <%= room.firstReward%></td>
                    </tr>
                    </tbody>
                    </table>
                    <a href="/room/<%=room._id%>"><button class="btn btn-primary" style="width: 40%;">
                            Join
                        </button></a>

                    <% if(typeof user !== 'undefined' && user.role === 'admin') { %>
                    <a href="/room/sendMessage/<%=room._id%>"><button class="btn btn-danger" style="width: 40%;">
                            Send Message
                        </button></a>
                    <a href="/room/viewPlayers/<%=room._id%>"><button class="btn btn-success" style="width: 40%;">
                            View Players
                        </button></a>
                    <%}%>
                </div>
            </div>

            <% if(index % 3 === 2) { %>
                </div>
                <div style="margin-top: 1em;"></div>
                <%} %>
                <% }); %>
            </div>

        </div>
</section>

<%- include("partials/footer") -%>