<%- include("partials/header") -%>



<div class="container">
    <table style="table-layout: auto;
    width: 100%;">
        <tr>
            <th>Sr. No.</th>
            <th>Slot</th>
            <th>Name</th>
            <th>PUBG Username</th>
            <th>Phone</th>
        </tr>
        <% const a = users.length > 50 ? 100 : (users.length > 25 ? 50 : 25) ; let diff = a-users.length; users.forEach((user, i) => { %>
        <tr>
            <td><%=i+1%></td>
            <td><%=i+1+diff%></td>
            <td><%=user.name%></td>
            <td><%=user.pubgUsername%></td>
            <td><%=user.phone%></td>
        </tr>
        <% }); %>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script>

<%- include("partials/footer") -%>