<%- include("partials/header") -%>

<div class="tournament-page-container responsive-container">
  <div class="tournament-page-wrapper">
    <div class="tournament-details-wrapper responsive-container">
      <img src="/images/gb.png" width="100px" height="250px" />
      <div class="details-div">
        <div style="padding: 10% 5%;">
          <h2><%= tournament.name %></h2>

          <% if(tournament.numberOfMatches == 1) { %>
          <% if(tournament.matchType === "TDM") {%>
          <h4><%= tournament.matchType %> </h4>
          <%} else {%>
          <h4><%= tournament.matchType %> | <%= tournament.typeOfSquad %> | <%= tournament.map %> </h4>
          <%}%>
          <% if(tournament.note) { %>
          <h6 style="color: red;"> <%= tournament.note %></h6>
          <%}%>
          <% if(tournament.matchType === "TDM") {%>
          <h6> Starts <%= tournament.datetime.toString().split(' GMT')[0] %>. May last for 3 to 4 days.</h6>
          <%} else {%>
          <h6> <%= tournament.datetime.toString().split(' GMT')[0] %></h6>
          <%}%>
          <% } else {%>
          <h4><%= tournament.matchType %> | <%= tournament.typeOfSquad %> </h4>
          <% if(tournament.note) { %>
          <h6 style="color: red;"> <%= tournament.note %></h6>
          <%}%>
          <h6> Starts <%= tournament.datetime.toString().split(' GMT')[0] %></h6>
          <% } %>
          <% if (tournament.players.includes(user._id)) {%>
          <a href="/tournament/viewSlots/<%=tournament._id%>"><button class="btn btn-primary" style="width: 40%;">
              View Slots
            </button></a>
          <%}%>
          
        </div>

        <% if(tournament.numberOfMatches > 1) { %>
          <div class="accordion" id="accordionExample">
            <% tournament.map.forEach((map, index) => { %>
            <div class="card" style="width: 100%; background-color: transparent; box-shadow: none; border: none;">
              <div class="card-header" id="heading<%=index%>">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapse<%=index%>" aria-expanded="true" aria-controls="collapse<%=index%>">
                    Match <%=index+1%> Details
                  </button>
                </h2>
              </div>

              <div style="background-color: transparent;" id="collapse<%=index%>" class="collapse"
                aria-labelledby="heading<%=index%>" data-parent="#accordionExample">
                <div class="card-body">
                  <table class="table details-table">
                    <tbody style="text-align: left;">
                      <tr>
                        <td class="details-key">Map</td>
                        <td>-</td>
                        <td class="details-value"><%= tournament.map[index]%></td>
                      </tr>
                      <tr>
                        <td class="details-key">Date and time</td>
                        <td>-</td>
                        <td class="details-value"><%= tournament.datetime[index].toString().split('GMT')[0] %> </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
          <br>
          <%}%>
        <div>

          <table class="table details-table">
            <tbody style="text-align: left;">
              <tr>
                <td class="details-key">ENTRY FEE</td>
                <td>-</td>
                <% if(tournament.entryFee > 0) {%>
                <td class="details-value">₹ <%= tournament.entryFee%> <% if (tournament.typeOfSquad != 'Solo') { %> per
          team
          <% } %></td>
          <% } else { %>
            <td class="details-value">None</td>
          <% } %>
          </tr>
          <% if(tournament.firstReward) { %>
          <tr>
            <td class="details-key">Winner <% if (tournament.typeOfSquad != 'Solo') { %> team <% } %> gets</td>
            <td>-</td>
            <td class="details-value">₹ <%= tournament.firstReward%> </td>
          </tr>
          <% } if(tournament.secondReward) { %>
          <tr>
            <td class="details-key">Runner-Up <% if (tournament.typeOfSquad != 'Solo') { %> team <% } %> gets</td>
            <td>-</td>
            <td class="details-value">₹ <%= tournament.secondReward%></td>
          </tr>
          <% } if(tournament.thirdReward) { %>
          <tr>
            <td class="details-key">3rd Position <% if (tournament.typeOfSquad != 'Solo') { %> team <% } %> gets</td>
            <td>-</td>
            <td class="details-value">₹ <%= tournament.thirdReward%></td>
          </tr>
          <% } if(tournament.fourthReward) { %>
          <tr>
            <td class="details-key">4th Position <% if (tournament.typeOfSquad != 'Solo') { %> team <% } %> gets</td>
            <td>-</td>
            <td class="details-value">₹ <%= tournament.fourthReward%></td>
          </tr>
          <% } if(tournament.fifthReward) { %>
          <tr>
            <td class="details-key">5th Position <% if (tournament.typeOfSquad != 'Solo') { %> team <% } %> gets</td>
            <td>-</td>
            <td class="details-value">₹ <%= tournament.fifthReward%></td>
          </tr>
          <% } if(tournament.maxKillReward) { %>
          <tr>
            <td class="details-key">Most kills reward</td>
            <td>-</td>
            <td class="details-value">₹ <%= tournament.maxKillReward%>
          </tr>
          <% } if(tournament.killReward) { %>
          <tr>
            <td class="details-key">Reward per kill</td>
            <td>-</td>
            <td class="details-value">₹ <%= tournament.killReward%>
              <%if(tournament.minKills > 0) { %>(minimum <%=tournament.minKills%> kills<% if(tournament.typeOfSquad != "Solo") { %>/team<%}%>)
              <% } %></td>
          </tr>
          <% } %>
          </tbody>
          </table>
        </div>
        <div>
          <% if(!tournament.players.includes(user._id) && tournament.teamsJoined < tournament.teams) { %>
          <input type="hidden" id="order-id">
          <button class="btn btn-dark button" id="joinTourn">Join Match</button>

          <% if(tournament.entryFee > 0) { %>
          <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
          <script>
            document.getElementById('joinTourn').onclick = function (e) {
              var url = '/payment/join/<%=tournament._id%>';

              var xmlHttp = new XMLHttpRequest();
              xmlHttp.onreadystatechange = function (res) {
                console.log(res);
                if (xmlHttp.readyState === 4) {
                  res = JSON.parse(xmlHttp.responseText);
                  document.getElementById('order-id').value = res.data.id;
                  var options = {
                    "key": "rzp_live_mWmd2F9LTG9gMA",  //Enter your razorpay key
                    "currency": "INR",
                    "name": "My Game Buddy",
                    "description": "<%=tournament.name%>",
                    "order_id": document.getElementById('order-id').value,
                    "handler": function (response) {
                      var url = '/payment/verify';
                      var params = {
                        razorpay_order_id: response.razorpay_order_id,
                        razorpay_payment_id: response.razorpay_payment_id,
                        razorpay_signature: response.razorpay_signature,
                      };
                      var xmlHttp = new XMLHttpRequest();
                      xmlHttp.onreadystatechange = function (res) {
                        if (xmlHttp.readyState === 4) {
                          alert(xmlHttp.responseText);
                          window.location.href = "/";
                        }
                      }
                      xmlHttp.open("POST", url, true); // false for synchronous request
                      xmlHttp.setRequestHeader("Content-type", "application/json");
                      xmlHttp.send(JSON.stringify(params));
                    }
                  };
                  var rzp1 = new Razorpay(options);
                  rzp1.open();
                }
              }
              xmlHttp.open("POST", url, true); // false for synchronous request
              xmlHttp.setRequestHeader("Content-type", "application/json");
              xmlHttp.send();
            }
          </script>
          <% } else {%>
          <script>
            document.getElementById('joinTourn').onclick = function (e) {
              var url = '/payment/freeJoin/<%=tournament._id%>';

              var xmlHttp = new XMLHttpRequest();
              xmlHttp.onreadystatechange = function (res) {
                console.log(res);
                if (xmlHttp.readyState === 4) {
                  alert(xmlHttp.responseText);
                  window.location.href = "/";
                }
              }
              xmlHttp.open("POST", url, true); // false for synchronous request
              xmlHttp.setRequestHeader("Content-type", "application/json");
              xmlHttp.send();
            }
          </script>
          <% } %>

          <% } else if (tournament.players.includes(user._id)) {%>
          <button class="btn btn-dark button" disabled>Already Joined!</button>
          <br>
          <br>
          <p>Room Details will be sent 15 minutes prior to the match on your registered mobile (If you don't get the
            details, check it here before the match)</p>
          <% if(typeof tournament.messages !== "undefined") { %>
          <h2>Messages</h2>
          <% tournament.messages.forEach((message) => { %>
          <p><%=message%></p>
          <%  })} } else if (tournament.teamsJoined == tournament.teams) { %>
          <button class="btn btn-dark button" disabled>Room Full!</button>
          <%} %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>